{
    "openapi": "3.0.1",
    "info": {
        "title": "my-products-v1",
        "description": "Product operations v1",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://apis.vinmonopolet.no/my-products/v1"
        }
    ],
    "paths": {
        "/stock-per-store": {
            "get": {
                "summary": "Get stock-per-store",
                "description": "Returns daily stock levels for wholesaler's products. \n<br>\nStock values updated approx 06:45 AM CET every day. \"Try-it\"-function works even without limiting parameters, but browser asks if you want to \"Wait\". Reply \"Yes\", until response \"200 OK\" is shown. Due to pagination issues, it will always take 15-30 secs for response even when parameter \"maxResults\" is used. (default 1048575 )",
                "operationId": "GET_STOCK_PER_STORE",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "query",
                        "description": "Returns stock of products that match productId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "storeId",
                        "in": "query",
                        "description": "Returns stock of products in the specified storeId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "vendorId",
                        "in": "query",
                        "description": "Returns stock of products that match vendorId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "manufacturerId",
                        "in": "query",
                        "description": "Returns stock of products that match manufacturerId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "wholesalerId",
                        "in": "query",
                        "description": "Returns stock of products that match wholesalerId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "changedSince",
                        "in": "query",
                        "description": "Returns stock of products that have been updated since the supplied date (yyyy-MM-dd)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "productShortNameContains",
                        "in": "query",
                        "description": "Returns stock of products where productShortName contains the supplied string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeZeroStock",
                        "in": "query",
                        "description": "Include products which are sold and its stock is 0 (zero)",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "headers": {
                            "x-total-count": {
                                "description": "Total number of records that satisfy the request criteria",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "link": {
                                "description": "Links to previous/next pages",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_STOCK_PER_STORE_Response"
                                },
                                "example": [
                                    {
                                        "productId": "string",
                                        "stock": [
                                            {
                                                "storeId": "string",
                                                "storeStock": 0,
                                                "lastChanged": {
                                                    "date": "string",
                                                    "time": "string"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get stock-per-store (no response body)",
                "description": "Returns daily stock levels for wholesaler's products. \n<br>\n(Same as Get method, but no response body, only header info)\n<br>\nStock values updated approx 06:45 AM CET every day. \"Try-it\"-function works even without limiting parameters, but browser asks if you want to \"Wait\". Reply \"Yes\", until response \"200 OK\" is shown. Due to pagination issues, it will always take 15-30 secs for response even when parameter \"maxResults\" is used. (default 1048575 )",
                "operationId": "HEAD_STOCK_PER_STORE",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "query",
                        "description": "Returns stock of products that match productId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "storeId",
                        "in": "query",
                        "description": "Returns stock of products in the specified storeId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "vendorId",
                        "in": "query",
                        "description": "Returns stock of products that match vendorId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "manufacturerId",
                        "in": "query",
                        "description": "Returns stock of products that match manufacturerId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "wholesalerId",
                        "in": "query",
                        "description": "Returns stock of products that match wholesalerId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "changedSince",
                        "in": "query",
                        "description": "Returns stock of products that have been updated since the supplied date (yyyy-MM-dd)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "productShortNameContains",
                        "in": "query",
                        "description": "Returns stock of products where productShortName contains the supplied string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeZeroStock",
                        "in": "query",
                        "description": "Include products which are sold and its stock is 0 (zero)",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "headers": {
                            "x-total-count": {
                                "description": "Total number of records that satisfy the request criteria",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "link": {
                                "description": "Links to previous/next pages",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_STOCK_PER_STORE_Response"
                                },
                                "example": [
                                    {
                                        "productId": "string",
                                        "stock": [
                                            {
                                                "storeId": "string",
                                                "storeStock": 0,
                                                "lastChanged": {
                                                    "date": "string",
                                                    "time": "string"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/online-stock": {
            "get": {
                "summary": "Get online-stock",
                "description": "Returns live stock level for a specific product in a specific store",
                "operationId": "GET_STOCK_LIVE",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "query",
                        "description": "Returns realtime stock for product that match productId\n",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "storeId",
                        "in": "query",
                        "description": "Returns realtime stock in store that match storeId\n",
                        "required": true,
                        "schema": {
                            "type": "Integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_STOCK_LIVE_Response"
                                },
                                "example": [
                                    {
                                        "productId": "string",
                                        "stock": [
                                            {
                                                "storeId": "string",
                                                "storeStock": 0,
                                                "lastChanged": {
                                                    "date": "string",
                                                    "time": "string"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/daily-sales-per-store": {
            "get": {
                "summary": "Get daily sales",
                "description": "Get daily sales data. Last day sales available from approx 07:45 AM CET. Use parameter \"changedSince\" to get any updates / corrections made to historic sales. Select shorter period to avoid pagination. If you experience timeouts, use pagination by sending parameter maxResults (default 1048575 )",
                "operationId": "GET_DAILY_SALES",
                "parameters": [
                    {
                        "name": "fromSalesDate",
                        "in": "query",
                        "description": "Returns sales occurrences in interval from this sales date",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "toSalesDate",
                        "in": "query",
                        "description": "Returns sales occurrences in interval to this sales date",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fromStoreId",
                        "in": "query",
                        "description": "Returns sales occurrences in interval from this store id number",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "toStoreId",
                        "in": "query",
                        "description": "Returns sales occurrences in interval to this store id number",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "productId",
                        "in": "query",
                        "description": "Returns sales occurrences for requested productId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vendorId",
                        "in": "query",
                        "description": "Returns sales occurrences for requested vendorId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "wholesalerId",
                        "in": "query",
                        "description": "Returns sales occurrences for requested wholesalerId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "changedSince",
                        "in": "query",
                        "description": "Returns sales occurrences that have been updated since the supplied date - only numeric yyyy-MM-dd",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "Limits the maximum number of sales occurrences returned in each request",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Skips the supplied amount of sales occurrences, ordered by sales date, store and productId",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_DAILY_SALES_Response"
                                },
                                "example": [
                                    {
                                        "salesDate": "string",
                                        "storeSales": [
                                            {
                                                "storeId": "string",
                                                "sales": [
                                                    {
                                                        "productId": "string",
                                                        "salesVolume": 0,
                                                        "salesQuantity": 0,
                                                        "lastChanged": {
                                                            "date": "string",
                                                            "time": "string"
                                                        }
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get daily sales (no response body)",
                "description": "Get daily sales data. \n<br>\n(Same as Get method, but no response body, only header info)\n<br>\nLast day sales available from approx 07:45 AM CET. Use parameter \"changedSince\" to get any updates / corrections made to historic sales. Select shorter period to avoid pagination. If you experience timeouts, use pagination by sending parameter maxResults (default 1048575 )",
                "operationId": "5e9d6d69b13aabff740d9b19",
                "parameters": [
                    {
                        "name": "fromSalesDate",
                        "in": "query",
                        "description": "Returns sales occurrences in interval from this sales date",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "toSalesDate",
                        "in": "query",
                        "description": "Returns sales occurrences in interval to this sales date",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fromStoreId",
                        "in": "query",
                        "description": "Returns sales occurrences in interval from this store id number",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "toStoreId",
                        "in": "query",
                        "description": "Returns sales occurrences in interval to this store id number",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "productId",
                        "in": "query",
                        "description": "Returns sales occurrences for requested productId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vendorId",
                        "in": "query",
                        "description": "Returns sales occurrences for requested vendorId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "wholesalerId",
                        "in": "query",
                        "description": "Returns sales occurrences for requested wholesalerId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "changedSince",
                        "in": "query",
                        "description": "Returns sales occurrences that have been updated since the supplied date - only numeric yyyy-MM-dd",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "Limits the maximum number of sales occurrences returned in each request",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Skips the supplied amount of sales occurrences, ordered by sales date, store and productId",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_DAILY_SALES_Response"
                                },
                                "example": [
                                    {
                                        "salesDate": "string",
                                        "storeSales": [
                                            {
                                                "storeId": "string",
                                                "sales": [
                                                    {
                                                        "productId": "string",
                                                        "salesVolume": 0,
                                                        "salesQuantity": 0,
                                                        "lastChanged": {
                                                            "date": "string",
                                                            "time": "string"
                                                        }
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/regions": {
            "get": {
                "summary": "Get code list for regions",
                "description": "Get code list for regions",
                "operationId": "GET_REGIONS",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_REGIONS_Response"
                                },
                                "example": [
                                    {
                                        "countryId": "string",
                                        "country": "string",
                                        "regions": [
                                            {
                                                "regionId": "string",
                                                "region": "string",
                                                "subRegions": [
                                                    {
                                                        "subRegionId": "string",
                                                        "subRegion": "string"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get code list for regions (no response body)",
                "description": "Get code list for regions",
                "operationId": "HEAD_REGIONS",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_REGIONS_Response"
                                },
                                "example": [
                                    {
                                        "countryId": "string",
                                        "country": "string",
                                        "regions": [
                                            {
                                                "regionId": "string",
                                                "region": "string",
                                                "subRegions": [
                                                    {
                                                        "subRegionId": "string",
                                                        "subRegion": "string"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/cork": {
            "get": {
                "summary": "Get code list for cork types",
                "description": "Get code list for cork types",
                "operationId": "GET_CORK",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_CORK_Response"
                                },
                                "example": [
                                    {
                                        "corkTypeId": "string",
                                        "corkType": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get code list for cork types (no response body)",
                "description": "Get code list for cork types",
                "operationId": "HEAD_CORK",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_CORK_Response"
                                },
                                "example": [
                                    {
                                        "corkTypeId": "string",
                                        "corkType": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/use": {
            "get": {
                "summary": "Get code list for recommended food",
                "description": "Get code list for recommended food",
                "operationId": "GET_USE",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_USE_Response"
                                },
                                "example": [
                                    {
                                        "foodId": "string",
                                        "foodDesc": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get code list for recommended food (no response body)",
                "description": "Get code list for recommended food",
                "operationId": "HEAD_USE",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_USE_Response"
                                },
                                "example": [
                                    {
                                        "foodId": "string",
                                        "foodDesc": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/hierarchy": {
            "get": {
                "summary": "Get product hierarchy",
                "description": "Get product hierarchy",
                "operationId": "GET_HIERARCHY",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_HIERARCHY_Response"
                                },
                                "example": [
                                    {
                                        "mainProductTypeId": "string",
                                        "mainProductTypeName": "string",
                                        "subProductTypes": [
                                            {
                                                "subProductTypeId": "string",
                                                "subProductTypeName": "string",
                                                "productTypes": [
                                                    {
                                                        "productTypeId": "string",
                                                        "productTypeName": "string"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get product hierarchy (no response body)",
                "description": "Get product hierarchy",
                "operationId": "HEAD_HIERARCHY",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_HIERARCHY_Response"
                                },
                                "example": [
                                    {
                                        "mainProductTypeId": "string",
                                        "mainProductTypeName": "string",
                                        "subProductTypes": [
                                            {
                                                "subProductTypeId": "string",
                                                "subProductTypeName": "string",
                                                "productTypes": [
                                                    {
                                                        "productTypeId": "string",
                                                        "productTypeName": "string"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/prodgrp": {
            "get": {
                "summary": "Get code list for product groups",
                "description": "Get code list for product groups",
                "operationId": "GET_PRODGRP",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_PRODGRP_Response"
                                },
                                "example": [
                                    {
                                        "productGroupId": "string",
                                        "productGroupName": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get code list for product groups (no response body)",
                "description": "Get code list for product groups",
                "operationId": "HEAD_PRODGRP",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_PRODGRP_Response"
                                },
                                "example": [
                                    {
                                        "productGroupId": "string",
                                        "productGroupName": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/orderpack": {
            "get": {
                "summary": "Get code list for order packs",
                "description": "Get code list for order packs",
                "operationId": "GET_ORDERPACK",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_ORDERPACK_Response"
                                },
                                "example": [
                                    {
                                        "orderPack": "string",
                                        "orderPackDesc": "string",
                                        "packageQuantity": 0
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get code list for order packs (no response body)",
                "description": "Get code list for order packs",
                "operationId": "HEAD_ORDERPACK",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_ORDERPACK_Response"
                                },
                                "example": [
                                    {
                                        "orderPack": "string",
                                        "orderPackDesc": "string",
                                        "packageQuantity": 0
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/volume": {
            "get": {
                "summary": "Get code list for units of volume",
                "description": "Get code list for units of volume",
                "operationId": "GET_VOLUME",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_VOLUME_Response"
                                },
                                "example": [
                                    {
                                        "volumTypeId": "string",
                                        "volumType": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get code list for units of volume (no response body)",
                "description": "Get code list for units of volume",
                "operationId": "HEAD_VOLUME",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_VOLUME_Response"
                                },
                                "example": [
                                    {
                                        "volumTypeId": "string",
                                        "volumType": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/ecolabel": {
            "get": {
                "summary": "Get code list for eco labels",
                "description": "Get code list for eco labels",
                "operationId": "GET_ECOLABEL",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "headers": {
                            "x-total-count": {
                                "description": "Total number of records that satisfy the request criteria",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "link": {
                                "description": "Links to previous/next pages",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_ECOLABEL_Response"
                                },
                                "example": [
                                    {
                                        "ecoLabellingId": "string",
                                        "ecoLabelling": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get code list for eco labels (no response body)",
                "description": "Get code list for eco labels",
                "operationId": "HEAD_ECOLABEL",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "headers": {
                            "x-total-count": {
                                "description": "Total number of records that satisfy the request criteria",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "link": {
                                "description": "Links to previous/next pages",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_ECOLABEL_Response"
                                },
                                "example": [
                                    {
                                        "ecoLabellingId": "string",
                                        "ecoLabelling": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/storage": {
            "get": {
                "summary": "Get code list for storage",
                "description": "Get code list for storage",
                "operationId": "GET_STORAGE",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_STORAGE_Response"
                                },
                                "example": [
                                    {
                                        "storagePotentialId": "string",
                                        "storagePotential": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get code list for storage (no response body)",
                "description": "Get code list for storage",
                "operationId": "HEAD_STORAGE",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_STORAGE_Response"
                                },
                                "example": [
                                    {
                                        "storagePotentialId": "string",
                                        "storagePotential": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/package": {
            "get": {
                "summary": "Get code list for package units",
                "description": "Get code list for package units",
                "operationId": "GET_PACKAGE",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_PACKAGE_Response"
                                },
                                "example": [
                                    {
                                        "packagingMaterialId": "string",
                                        "packagingMaterial": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get code list for package units (no response body)",
                "description": "Get code list for package units",
                "operationId": "HEAD_PACKAGE",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_PACKAGE_Response"
                                },
                                "example": [
                                    {
                                        "packagingMaterialId": "string",
                                        "packagingMaterial": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/assortmentlist": {
            "get": {
                "summary": "Get code list for assortments",
                "description": "Get code list for assortments",
                "operationId": "GET_ASSORTMENT_LIST",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_ASSORTMENT_LIST_Response"
                                },
                                "example": [
                                    {
                                        "assortmentId": "string",
                                        "assortment": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get code list for assortments (no response body)",
                "description": "Get code list for assortments",
                "operationId": "HEAD_ASSORTMENT_LIST",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_ASSORTMENT_LIST_Response"
                                },
                                "example": [
                                    {
                                        "assortmentId": "string",
                                        "assortment": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/grapes": {
            "get": {
                "summary": "Get code list for grape types",
                "description": "Get code list for grape types",
                "operationId": "GET_RAWMAT",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_RAWMAT_Response"
                                },
                                "example": [
                                    {
                                        "grapeId": "string",
                                        "grapeDesc": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get code list for grape types (no response body)",
                "description": "Get code list for grape types",
                "operationId": "HEAD_RAWMAT",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_RAWMAT_Response"
                                },
                                "example": [
                                    {
                                        "grapeId": "string",
                                        "grapeDesc": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/assortmentgrades": {
            "get": {
                "summary": "Get code list for assortment grade",
                "description": "Get code list for assortment grade",
                "operationId": "GET_ASSORTMENT_GRADES",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_ASSORTMENT_GRADES_Response"
                                },
                                "example": [
                                    {
                                        "assortmentGrade": "string",
                                        "assortmentGradeDesc": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get code list for assortment grade (no response body)",
                "description": "Get code list for assortment grade (no response body)",
                "operationId": "HEAD_ASSORTMENT_GRADES",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_ASSORTMENT_GRADES_Response"
                                },
                                "example": [
                                    {
                                        "assortmentGrade": "string",
                                        "assortmentGradeDesc": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/status": {
            "get": {
                "summary": "Get code list for status",
                "description": "Get code list for status",
                "operationId": "GET_STATUS_LIST_MSTAV",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_STATUS_LIST_MSTAV_Response"
                                },
                                "example": [
                                    {
                                        "productStatusSaleId": "string",
                                        "productStatusSaleName": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get code list for status (no response body)",
                "description": "Get code list for status",
                "operationId": "HEAD_STATUS_LIST_MSTAV",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_STATUS_LIST_MSTAV_Response"
                                },
                                "example": [
                                    {
                                        "productStatusSaleId": "string",
                                        "productStatusSaleName": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameters/values supplied)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/details": {
            "get": {
                "summary": "Get details for all ranges",
                "description": "Returns details on wholesaler's products in all ranges\n<br>\nMaster data is updated approx 05:45 AM CET every day. Use parameter \"changedSince\" to get only updated products since supplied date.\n<br>",
                "operationId": "GET_DETAILS",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "query",
                        "description": "Returns details of product that match productId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vendorId",
                        "in": "query",
                        "description": "Returns details of all products that match vendorId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "manufacturerId",
                        "in": "query",
                        "description": "Returns details of all products that match manufacturerId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "wholesalerId",
                        "in": "query",
                        "description": "Returns details of all products that match wholesalerId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "changedSince",
                        "in": "query",
                        "description": "Returns details of all products that have been updated since the supplied date - only numeric yyyy-MM-dd",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "productShortNameContains",
                        "in": "query",
                        "description": "Returns details of all products where productShortName contains the supplied string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "Limits the maximum number of products returned in each request",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Skips the supplied amount of products, ordered by productID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "gtin",
                        "in": "query",
                        "description": "Returns details of product that match gtin id",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "freeText",
                        "in": "query",
                        "description": "Returns details of all products where JSON data contains the supplied string. Use * as wildcard for one or many chars. Use _ for space.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "changedSinceTimestamp",
                        "in": "query",
                        "description": "Returns details of all products that have been updated since the supplied date and time - yyyy-MM-ddThh:mm:ss",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_DETAILS_Response"
                                },
                                "example": [
                                    {
                                        "basic": {
                                            "productId": "string",
                                            "productShortName": "string",
                                            "productLongName": "string",
                                            "volume": 0,
                                            "alcoholContent": 0,
                                            "vintage": "string",
                                            "ageLimit": "string",
                                            "packagingMaterialId": "string",
                                            "packagingMaterial": "string",
                                            "volumTypeId": "string",
                                            "volumType": "string",
                                            "corkTypeId": "string",
                                            "corkType": "string",
                                            "bottlePerSalesUnit": "string",
                                            "introductionDate": "string",
                                            "productStatusSaleId": "string",
                                            "productStatusSaleName": "string",
                                            "productStatusSaleValidFrom": "string"
                                        },
                                        "logistics": {
                                            "wholesalerId": "string",
                                            "wholesalerName": "string",
                                            "vendorId": "string",
                                            "vendorName": "string",
                                            "vendorValidFrom": "string",
                                            "manufacturerId": "string",
                                            "manufacturerName": "string",
                                            "barcodes": [
                                                {
                                                    "gtin": "string",
                                                    "isMainGtin": true,
                                                    "unitOfMeasure": "string",
                                                    "packageQuantity": 0
                                                }
                                            ],
                                            "orderPack": "string",
                                            "minimumOrderQuantity": 0,
                                            "packagingWeight": 0
                                        },
                                        "origins": {
                                            "origin": {
                                                "countryId": "string",
                                                "country": "string",
                                                "regionId": "string",
                                                "region": "string",
                                                "subRegionId": "string",
                                                "subRegion": "string"
                                            },
                                            "production": {
                                                "countryId": "string",
                                                "country": "string",
                                                "regionId": "string",
                                                "region": "string"
                                            },
                                            "localQualityClassifId": "string",
                                            "localQualityClassif": "string"
                                        },
                                        "properties": {
                                            "ecoLabellingId": "string",
                                            "ecoLabelling": "string",
                                            "storagePotentialId": "string",
                                            "storagePotential": "string",
                                            "organic": true,
                                            "biodynamic": true,
                                            "ethicallyCertified": true,
                                            "vintageControlled": true,
                                            "sweetWine": true,
                                            "freeOrLowOnGluten": true,
                                            "kosher": true,
                                            "locallyProduced": true,
                                            "noAddedSulphur": true,
                                            "environmentallySmart": true,
                                            "productionMethodStorage": "string"
                                        },
                                        "classification": {
                                            "mainProductTypeId": "string",
                                            "mainProductTypeName": "string",
                                            "subProductTypeId": "string",
                                            "subProductTypeName": "string",
                                            "productTypeId": "string",
                                            "productTypeName": "string",
                                            "productGroupId": "string",
                                            "productGroupName": "string"
                                        },
                                        "ingredients": {
                                            "grapes": [
                                                {
                                                    "grapeId": "string",
                                                    "grapeDesc": "string",
                                                    "grapePct": "string"
                                                }
                                            ],
                                            "ingredients": "string",
                                            "sugar": "string",
                                            "acid": "string",
                                            "allergens": "string"
                                        },
                                        "description": {
                                            "characteristics": {
                                                "colour": "string",
                                                "odour": "string",
                                                "taste": "string"
                                            },
                                            "freshness": "string",
                                            "fullness": "string",
                                            "bitterness": "string",
                                            "sweetness": "string",
                                            "tannins": "string",
                                            "recommendedFood": [
                                                {
                                                    "foodId": "string",
                                                    "foodDesc": "string"
                                                }
                                            ]
                                        },
                                        "assortment": {
                                            "assortmentId": "string",
                                            "assortment": "string",
                                            "validFrom": "string",
                                            "listedFrom": "string",
                                            "assortmentGrades": [
                                                {
                                                    "assortmentGrade": "string",
                                                    "assortmentGradeDesc": "string"
                                                }
                                            ]
                                        },
                                        "prices": [
                                            {
                                                "priceValidFrom": "string",
                                                "salesPrice": 0,
                                                "salesPricePrLiter": 0,
                                                "bottleReturnValue": 0,
                                                "vatAmountIncluded": 0
                                            }
                                        ],
                                        "attributes": [
                                            {
                                                "attributeCode": "string",
                                                "attributeDesc": "string"
                                            }
                                        ],
                                        "lastChanged": {
                                            "date": "string",
                                            "time": "string"
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameter values given)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            },
            "head": {
                "summary": "Get details for all ranges (no response body)",
                "description": "Returns details on wholesaler's products in all ranges\n<br>\n(Same as Get method, but no response body, only header info)\n<br>\nMaster data is updated approx 05:45 AM CET every day. Use parameter \"changedSince\" to get only updated products since supplied date.\n<br>",
                "operationId": "HEAD_DETAILS",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "query",
                        "description": "Returns details of product that match productId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vendorId",
                        "in": "query",
                        "description": "Returns details of all products that match vendorId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "manufacturerId",
                        "in": "query",
                        "description": "Returns details of all products that match manufacturerId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "wholesalerId",
                        "in": "query",
                        "description": "Returns details of all products that match wholesalerId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "changedSince",
                        "in": "query",
                        "description": "Returns details of all products that have been updated since the supplied date - only numeric yyyy-MM-dd",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "productShortNameContains",
                        "in": "query",
                        "description": "Returns details of all products where productShortName contains the supplied string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "Limits the maximum number of products returned in each request",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Skips the supplied amount of products, ordered by productID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "gtin",
                        "in": "query",
                        "description": "Returns details of product that match gtin id",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "freeText",
                        "in": "query",
                        "description": "Returns details of all products where JSON data contains the supplied string. Use * as wildcard for one or many chars. Use _ for space.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "changedSinceTimestamp",
                        "in": "query",
                        "description": "Returns details of all products that have been updated since the supplied date and time - yyyy-MM-ddThh:mm:ss",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_DETAILS_Response"
                                },
                                "example": [
                                    {
                                        "basic": {
                                            "productId": "string",
                                            "productShortName": "string",
                                            "productLongName": "string",
                                            "volume": 0,
                                            "alcoholContent": 0,
                                            "vintage": "string",
                                            "ageLimit": "string",
                                            "packagingMaterialId": "string",
                                            "packagingMaterial": "string",
                                            "volumTypeId": "string",
                                            "volumType": "string",
                                            "corkTypeId": "string",
                                            "corkType": "string",
                                            "bottlePerSalesUnit": "string",
                                            "introductionDate": "string",
                                            "productStatusSaleId": "string",
                                            "productStatusSaleName": "string",
                                            "productStatusSaleValidFrom": "string"
                                        },
                                        "logistics": {
                                            "wholesalerId": "string",
                                            "wholesalerName": "string",
                                            "vendorId": "string",
                                            "vendorName": "string",
                                            "vendorValidFrom": "string",
                                            "manufacturerId": "string",
                                            "manufacturerName": "string",
                                            "barcodes": [
                                                {
                                                    "gtin": "string",
                                                    "isMainGtin": true,
                                                    "unitOfMeasure": "string",
                                                    "packageQuantity": 0
                                                }
                                            ],
                                            "orderPack": "string",
                                            "minimumOrderQuantity": 0,
                                            "packagingWeight": 0
                                        },
                                        "origins": {
                                            "origin": {
                                                "countryId": "string",
                                                "country": "string",
                                                "regionId": "string",
                                                "region": "string",
                                                "subRegionId": "string",
                                                "subRegion": "string"
                                            },
                                            "production": {
                                                "countryId": "string",
                                                "country": "string",
                                                "regionId": "string",
                                                "region": "string"
                                            },
                                            "localQualityClassifId": "string",
                                            "localQualityClassif": "string"
                                        },
                                        "properties": {
                                            "ecoLabellingId": "string",
                                            "ecoLabelling": "string",
                                            "storagePotentialId": "string",
                                            "storagePotential": "string",
                                            "organic": true,
                                            "biodynamic": true,
                                            "ethicallyCertified": true,
                                            "vintageControlled": true,
                                            "sweetWine": true,
                                            "freeOrLowOnGluten": true,
                                            "kosher": true,
                                            "locallyProduced": true,
                                            "noAddedSulphur": true,
                                            "environmentallySmart": true,
                                            "productionMethodStorage": "string"
                                        },
                                        "classification": {
                                            "mainProductTypeId": "string",
                                            "mainProductTypeName": "string",
                                            "subProductTypeId": "string",
                                            "subProductTypeName": "string",
                                            "productTypeId": "string",
                                            "productTypeName": "string",
                                            "productGroupId": "string",
                                            "productGroupName": "string"
                                        },
                                        "ingredients": {
                                            "grapes": [
                                                {
                                                    "grapeId": "string",
                                                    "grapeDesc": "string",
                                                    "grapePct": "string"
                                                }
                                            ],
                                            "ingredients": "string",
                                            "sugar": "string",
                                            "acid": "string",
                                            "allergens": "string"
                                        },
                                        "description": {
                                            "characteristics": {
                                                "colour": "string",
                                                "odour": "string",
                                                "taste": "string"
                                            },
                                            "freshness": "string",
                                            "fullness": "string",
                                            "bitterness": "string",
                                            "sweetness": "string",
                                            "tannins": "string",
                                            "recommendedFood": [
                                                {
                                                    "foodId": "string",
                                                    "foodDesc": "string"
                                                }
                                            ]
                                        },
                                        "assortment": {
                                            "assortmentId": "string",
                                            "assortment": "string",
                                            "validFrom": "string",
                                            "listedFrom": "string",
                                            "assortmentGrades": [
                                                {
                                                    "assortmentGrade": "string",
                                                    "assortmentGradeDesc": "string"
                                                }
                                            ]
                                        },
                                        "prices": [
                                            {
                                                "priceValidFrom": "string",
                                                "salesPrice": 0,
                                                "salesPricePrLiter": 0,
                                                "bottleReturnValue": 0,
                                                "vatAmountIncluded": 0
                                            }
                                        ],
                                        "attributes": [
                                            {
                                                "attributeCode": "string",
                                                "attributeDesc": "string"
                                            }
                                        ],
                                        "lastChanged": {
                                            "date": "string",
                                            "time": "string"
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (wrong parameter values given)"
                    },
                    "500": {
                        "description": "Error"
                    }
                }
            }
        },
        "/price-elements": {
            "get": {
                "summary": "Get price elements for all ranges",
                "description": "Returns price details on wholesaler's own products above 4,7% alcohol percent in all ranges.\n<br>\nMaster data is updated approx 07:30 AM CET every day. Use parameter \"changedSince\" to get only updated products since supplied date.",
                "operationId": "GET_PRICE_ELEMENTS",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "query",
                        "description": "Returns details of all products that match productId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vendorId",
                        "in": "query",
                        "description": "Returns details of all products that match vendorId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "manufacturerId",
                        "in": "query",
                        "description": "Returns details of all products that match manufacturerId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "wholesalerId",
                        "in": "query",
                        "description": "Returns details of all products that match wholesalerId",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "changedSince",
                        "in": "query",
                        "description": "Returns details of all products that have been updated since the supplied date - only numeric yyyy-MM-dd",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "productShortNameContains",
                        "in": "query",
                        "description": "Returns details of all products where productShortName contains the supplied string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "Limits the maximum number of products returned in each request",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Skips the supplied amount of products, ordered by productID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "changedSinceTimestamp",
                        "in": "query",
                        "description": "Returns details of all products that have been updated since the supplied date and time - yyyy-MM-ddThh:mm:ss",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "headers": {
                            "x-total-count": {
                                "description": "Total number of records that satisfy the request criteria",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "link": {
                                "description": "Links to previous/next pages",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GET_PRICE_CONDITIONS_Response"
                                },
                                "example": [
                                    {
                                        "productId": "string",
                                        "priceElements": [
                                            {
                                                "salesPrice": 0,
                                                "markup": 0,
                                                "dduPrice": 0,
                                                "salesPricePrLiter": 0,
                                                "valueAddedTax": 0,
                                                "alcoholTax": 0,
                                                "ecoTax": 0,
                                                "packagingTax": 0,
                                                "bottleReturnValue": 0,
                                                "ddpPrice": 0
                                            }
                                        ]
[...]
